{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-2">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
      <h4 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;"> Confirmación de registro </h4>
  </div>
</div>
<!-- Page Header End -->

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <div class="contenedor">
          <p>Se ha enviado un correo de activación a tu dirección de email.</p>
          <p>Por favor revisa tu bandeja de entrada y haz clic en el enlace para activar tu cuenta.</p>
          <br>
          <h6 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;"> Gracias por formar parte de nuestra familia MUHIA.</h6>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}