{% extends 'base.html' %}
{% load static %}

{% block title %}
    Listado de incentivos
{% endblock %}

{% block content %}
<section class="content-header">
  <div class="container-fluid bg-secondary mb-2">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 60px">
        <h4 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;">Lista de incentivos</h4>
    </div>
  </div>


  <a href="{% url 'crear_incentivo' %}" class="nav-link active" aria-current="page" data-placement="top" title="Agregar" style="align-content: end;color:#036481; font-family: sans-serif;">
    <i class="fa fa-plus"></i>Añadir nuevo
  </a>
</section>
  
  {% if messages %}
  <ul class="messages list-group mb-3">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <!-- Paginación -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Monto objetivo</th>
              <th>Producto</th>
              <th>Umbral de notificacion</th>
              <th>Activo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          <!-- Recorremos los objetos o registros que tenemos en nuestra tabla y los listamos -->
          {% for elem in object_list %}
            <tr>
              <td>{{ elem.nombre }} </td>
              <td>{{ elem.monto_objetivo }}</td>
              <td>{{ elem.producto_incentivo }}</td>
              <td>{{ elem.umbral_notificacion }}</td>
              <td>{{ elem.activo }}</td>
              <td>
                <!-- Usaremos un formulario que realizará la tarea de eliminar un registro desde la misma tabla HTML -->                        
                <form method="POST" action="eliminar/{{elem.pk}}">
                  {% csrf_token %}
                  <div class="btn-group">
                    <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o jugos -->
                    <!--<a href="detalle/{{elem.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>-->
                    <a href="editar/{{elem.pk}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                    <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                      Eliminar
                    </button>
                  </div>
                </form>
              </td>
            </tr>
          {% endfor %}
          <script type="text/javascript">
            function eliminar() {
              var x = confirm("¿Está seguro de que desea eliminar el objeto seleccionado?");
              if (x)
                return true;
              else
                return false;
            }
          </script>
          </tbody>
      </table>

      </div>
    </div>
  </div>
{% endblock %}