{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Actualizar incentivo</title>
{% endblock %}

{% block content %}

<main role="main">
  <div class="container">
    <section class="content-header">
      <div class="content-header x_panel x_title">
          <h3 class="mt-3" style="color:#036481; font-family: Lora, serif;">Actualice los datos del incentivo</h3>
      </div>
    </section>
    <div class="d-fle row">
      <form enctype="multipart/form-data" method="POST" class="container mt-4">
        {% csrf_token %}
        <div class="row g-3">
          {{ form.as_p }}         
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-2" >
            <input type="submit" class="btn btn-primary btn-block" style="color: green; background: gainsboro; border-color: green;" value="Confirmar">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-2" >
            <input type="button" class="btn btn-primary btn-block" style="color: brown; background: gainsboro; border-color: brown;" value="Cancelar" onclick="history.back();">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}