{% extends "base.html" %}
{% load static %}
{% load checkout_tags %}
{% load catalog_filters %}
{% block content %}

<head>
    <title>Resumen de Ventas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0"></script>
</head>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-2">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            <h4 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;">Resumen de ventas por clientes ({{ start_date }} al {{ end_date }})</h4>
        </div>
    </div>
    <!-- Page Header End -->
    
    <form method="get">
        <label>Desde: <input type="date" name="start_date" value="{{ start_date }}"></label>
        <label>Hasta: <input type="date" name="end_date" value="{{ end_date }}"></label>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <br>
    <br>

    <!-- Gráfica: Top Clientes -->
    <div style="width: 800px;">
        <h6 class="font-weight-bold" style="font-family: sans-serif;">Primeros 10: </h6>
        <canvas id="customersChart"></canvas>
    </div>

</div>

    <script>
        // Configuración común para gráficas
        const chartOptions = {
            responsive: true,
            plugins: {
                legend: { position: 'top' },
                tooltip: { mode: 'index', intersect: false }
            },
            scales: { y: { beginAtZero: true } }
        };


        // Gráfica 3: Top Clientes
        const customersData = JSON.parse('{{ top_customers|escapejs }}');
        new Chart(document.getElementById('customersChart'), {
            type: 'radar',
            data: {
                labels: customersData.map(item => item.user__username),
                datasets: [{
                    label: 'Gasto Total ($)',
                    data: customersData.map(item => item.total_spent),
                    fill: true,
                    backgroundColor: 'rgba(255, 159, 64, 0.2)'
                }]
            },
            options: chartOptions
        });
    </script>

{% endblock %}