<!DOCTYPE html>
<html>
<head>
    <title>Resumen de Ventas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0"></script>
</head>
<body>
    <h1>Resumen de ventas por clientes ({{ start_date }} al {{ end_date }})</h1>
    
    <form method="get">
        <label>Desde: <input type="date" name="start_date" value="{{ start_date }}"></label>
        <label>Hasta: <input type="date" name="end_date" value="{{ end_date }}"></label>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Gráfica: Top Clientes -->
    <div style="width: 800px;">
        <h2>Top 10 Clientes</h2>
        <canvas id="customersChart"></canvas>
    </div>

</div>

    <script>
        // Configuración común para gráficas
        const chartOptions = {
            responsive: true,
            plugins: {
                legend: { position: 'top' },
                tooltip: { mode: 'index', intersect: false }
            },
            scales: { y: { beginAtZero: true } }
        };


        // Gráfica 3: Top Clientes
        const customersData = JSON.parse('{{ top_customers|escapejs }}');
        new Chart(document.getElementById('customersChart'), {
            type: 'radar',
            data: {
                labels: customersData.map(item => item.user__username),
                datasets: [{
                    label: 'Gasto Total ($)',
                    data: customersData.map(item => item.total_spent),
                    fill: true,
                    backgroundColor: 'rgba(255, 159, 64, 0.2)'
                }]
            },
            options: chartOptions
        });
    </script>
</body>
</html>